.inputSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: #f3eeee;
}

/* #d8d4d4; */

.inputSection > form {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 20px 5px;
}

.inputSection > form > .inputHeaders {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 25px 10px;
  border-bottom: 2px solid #d8d4d4;
}

.depth > label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  text-align: center;

  color: #333333;

}

.depth > span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #333333;
  margin: 1px 5px;
  cursor: pointer;
}

.inputHeaders > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  text-align: center;

  color: #333333;
}

.resultTag {
  margin-left: -130px;
}

.lowerSection {
  display: flex;
  width: 100%;
}

.inputs {
  flex: 1;
  width: 50%;
  border-right: 2px solid #07A796;
}

.inputs > textarea {
  width: 100%;
  height: 350px;
  padding: 20px 25px;
  outline: none;
  border: none;
  resize: none;
  font-size: 20px;
  font-family: 'Inter';
  line-height: 30px;
}

.uploadScan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}

.upload {
  display: flex;
  align-items: center;
}

.upload > img {
  object-fit: contain;
  padding: 3px 6px;
}

.upload > label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  text-align: center;
  padding: 3px 6px;
  cursor: pointer;
}

.scanBtn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 10px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #FFFFFF;
  background: #06A797;
  padding: 12px 50px;
  font-size: 18.5px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  flex: 1;
  width: 50%;
}

.blank {
  padding: 20px 25px 1px;
  display: none;
}

.noScam {
  padding: 20px 25px 1px;
  /* background: url(../../assets/Frame.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center; */
  position: relative;
}

.scam {
  padding: 20px 25px 1px;
  position: relative;
  display: none;
}

.noScamResult , .scamResult {
  text-align: center;
  position: absolute;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 28%;
}

.noScamResult > img, .scamResult > img {
  object-fit: contain;
}

.noScamResult > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #07A796;
}

.scamResult > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #FF0000;
}

.bg {
  background-size: contain;
  background-position: center;
  height: 350px;
  opacity: .3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 150px;
}

.bg > img {
  width: 100%;
  height: 100%;
  object-fit: unset;
}

.blankResult {
  width: 100%;
  height: 350px;
  padding: 20px 25px;
}

.resultShare {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.resultShare > img {
  object-fit: contain;
  padding: 3px 6px;
}

.resultShare > a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  text-align: center;
  padding: 3px 6px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.downloadSection {
  width: 100%;
  background: #fff;
  position: relative;
}

.downloadBg {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  height: 90vh;
  width: 100%;
  opacity: .3;
  justify-content: center;
}

.app {
  position: absolute;
  text-align: center;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.appImg {
  display: flex;
  padding: 35px;
}

.appImg > img {
  object-fit: contain;
  height: 70vh;
}

.appText {
  padding: 35px;
}

.appText > h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 50px;

  color: #07A796;
}

.appText > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;

  color: #07A796;
}

.appText :nth-child(2) {
  margin-bottom: 20px;
}

.appText :nth-child(5) {
  margin-bottom: 30px;
}

.appText > a {
  text-decoration: none;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 21px;

  text-align: center;
  padding: 10px 50px;
  border-radius: 7px;

  color: #FFFFFF;
  background: #07A796;
}

.applinks {
  display: flex;
  align-items: center;
}

.applinks :nth-child(2) {
  padding-top: 20px;
}

.applinks > span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  text-align: center;

  color: #06A797;
}