.inputSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: #f3eeee;
}

/* #d8d4d4; */

.inputSection > form {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 20px 5px;
}

.inputSection > form > .inputHeaders {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 25px 10px;
  border-bottom: 2px solid #d8d4d4;
}

.depth > label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  text-align: center;

  color: #333333;

}

.depth > span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #333333;
  margin: 1px 5px;
  cursor: pointer;
}

.inputHeaders > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  text-align: center;

  color: #333333;
}

.lowerSection {
  display: flex;
  width: 100%;
}

.inputs {
  flex: 1;
  width: 50%;
  border-right: 2px solid #07A796;
}

.inputs > textarea {
  width: 100%;
  height: 350px;
  padding: 20px 25px;
  outline: none;
  border: none;
  resize: none;
  font-size: 20px;
  font-family: 'Inter';
  line-height: 30px;
}

.uploadScan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}

.upload {
  display: flex;
  align-items: center;
}

.upload > img {
  object-fit: contain;
  padding: 3px 6px;
}

.upload > label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  text-align: center;
  padding: 3px 6px;
  cursor: pointer;
}

.scanBtn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 10px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #FFFFFF;
  background: #06A797;
  padding: 12px 50px;
  font-size: 18.5px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  flex: 1;
  width: 50%;
}